# these are required. You must fill these out for the bot to work.
TOKEN=your-fluxer-bot-token-here
PREFIX=!

# these are optional. You can leave them blank or remove them if you don't need them. the cooldown default is in miliseconds https://www.unitconverters.net/time/milliseconds-to-seconds.htm
OWNER_ID=
COOLDOWN_DEFAULT=3000

